@import "/src/app.scss";

.navbar{
  height: 100px;

  .wrapper {
    max-width: 70vw;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;

    @include mobile {
      justify-content: end;
    }

    span {
      font-weight: bold;
      font-size: 20px;

      @include mobile{
        display: none;
      }
    }

    .socials {
      display: flex;
      gap: 10px;

      img{
        width: 25px;
        height: 25px;
      }
    }
  }
}

